<p>Здравствуйте{{#if name}}, {{name}}{{/if}}!</p>
<p>Вы запросили сброс пароля. Перейдите по ссылке ниже (действует {{ttlMinutes}} мин):</p>
<p>
  <a href="{{url}}" target="_blank" rel="noopener noreferrer">Сбросить пароль</a>
  (ссылка действительна ограниченное время)
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
</p>
<p>Если вы не запрашивали это — просто игнорируйте письмо.</p>


