# Ignore artifacts:
build
coverage
dist
node_modules
.pnpm-store/
**/.pnpm-store/**

# Ignore config files
*.config.js
*.config.ts
vite.config.ts
eslint.config.js

# Ignore documentation
*.md

# Ignore other filesß
.gitignore
package-lock.json
package.json
pnpm-lock.yaml