	 
.parent {
    position: relative;
}

.parent:before {
    width: 100%;
    height: 100%;
    content: '';
    inset: 0;
    position: absolute;
    background-color:  rgba(238, 236, 236, 0.65);
    pointer-events: none;
    border-radius: inherit;
    transition: background-color 10s ease-in-out;
    backdrop-filter: grayscale(1) brightness(1) contrast(0.5) opacity(1); 
    -webkit-backdrop-filter: grayscale(1) brightness(1) contrast(0.5) opacity(1);
}

.child {
    background-color: transparent;
}