@import 'tailwindcss';
@plugin './hero.ts';
@source './**/*.{js,ts,jsx,tsx}';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

body {
  background-color: rgba(235, 240, 255, 1);
  font-family: 'Rubik', sans-serif;
}
