@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import 'tailwindcss';
@plugin './hero.ts';
@source './**/*.{js,ts,jsx,tsx}';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

body {
  background-color: rgba(235, 240, 255, 1);
  font-family: 'Rubik', sans-serif;
}

@theme {
  --font-roboto: 'Roboto', sans-serif;
}

@theme {
  --animate-clock: clock 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;

  @keyframes clock {
    50% {
      opacity: 0;
    }
  }
}
