.long-dashed-border {
  position: relative;
  border: none !important;
  background-clip: padding-box;
}

.long-dashed-border::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 14px;
  padding: 1px;
  background:
    repeating-linear-gradient(
      to right,
      #8781e5 0px,
      #8781e5 20px,
      transparent 20px,
      transparent 24px
    ),
    repeating-linear-gradient(
      to bottom,
      #8781e5 0px,
      #8781e5 20px,
      transparent 20px,
      transparent 24px
    ),
    repeating-linear-gradient(
      to left,
      #8781e5 0px,
      #8781e5 20px,
      transparent 20px,
      transparent 24px
    ),
    repeating-linear-gradient(to top, #8781e5 0px, #8781e5 20px, transparent 20px, transparent 24px);
  background-size:
    100% 1px,
    1px 100%,
    100% 1px,
    1px 100%;
  background-position: top, right, bottom, left;
  background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask-composite: exclude;
  pointer-events: none;
  z-index: 0;
}

.long-dashed-border > * {
  position: relative;
  z-index: 1;
}

.long-dashed-border:hover::before {
  background:
    repeating-linear-gradient(
      to right,
      rgb(192, 132, 252) 0px,
      rgb(192, 132, 252) 20px,
      transparent 20px,
      transparent 24px
    ),
    repeating-linear-gradient(
      to bottom,
      rgb(192, 132, 252) 0px,
      rgb(192, 132, 252) 20px,
      transparent 20px,
      transparent 24px
    ),
    repeating-linear-gradient(
      to left,
      rgb(192, 132, 252) 0px,
      rgb(192, 132, 252) 20px,
      transparent 20px,
      transparent 24px
    ),
    repeating-linear-gradient(
      to top,
      rgb(192, 132, 252) 0px,
      rgb(192, 132, 252) 20px,
      transparent 20px,
      transparent 24px
    );
  background-size:
    100% 1px,
    1px 100%,
    100% 1px,
    1px 100%;
  background-position: top, right, bottom, left;
  background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
}
